[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.2"
pillow = "*"
numpy = "*"
opencv-python = "*"
pytesseract = "*"
djangorestframework = "==3.12.4"

[dev-packages]

[requires]
python_version = "3.8"
